**
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json
!LICENSE
!src/
!src/**
!bin/
!bin/**
**/.env
**/.env.*
**/auth.json
**/*.sqlite*
**/*.jsonl
**/__pycache__
**/.DS_Store
**/.local
**/.local/**
**/.cache
**/.cache/**
**/.git
**/.git/**
**/workspace
**/workspace/**
**/node_modules
**/node_modules/**
**/dist
**/dist/**
**/coverage
**/coverage/**
**/*.db
**/*.db-shm
**/*.db-wal
